@import '../../../constants/style/variables.scss';

.inputBlock {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input {
   border: none;
   font-size: $default-font-size;
   outline: none;
   padding: 1%;
   width: 60%;

   @media (min-width: $screen-sm-min) {
    width: 45%;
  }

   @media (min-width: $screen-md-min) {
    font-size: 20px;
    width: 40%;
   }
}

.btn {
    background-color: $white;
    border: none;
    cursor: pointer;
    padding: 1%;
}