@import '../../../constants/style/variables.scss';

.selectBlock {
    align-items: center;
    display: flex;
    margin-top: 15px;
}

.title {
    color: $white;
    font-size: $default-font-size;
    margin-right: 10px;

    @media (min-width: $screen-md-min) {
        font-size: 20px;  
    }
}

.select {
    font-size: $default-font-size;
    width: 150px;

    @media (min-width: $screen-md-min) {
        font-size: 20px;
        width: 200px;  
    }
}

.option {
    font-size: 20px;
}